.mirror-view-main {
    @include outer-container();

    .locale {
        @include fill-parent();
        font-size: $font-small;
    }

    .date {
        @include row();
        @include span-columns(6);

        color: $light-blue;
        font-size: $font-medium;
    }

    .time {
        @include span-columns(6);
        @include omega();

        font-size: $font-large;
        text-align: right;
    }

    .weather {
        @include span-columns(6);
        clear: both;

        .temp-conditions {
            @include clearfix();

            .conditions, .temp {
                @include span-columns(6);
            }

            .wi {
                font-size: $font-large;
            }

            .conditions {
                text-align: center;
            }

            .current-conditions {
                display: block;
            }

            .temp {

            }
        }

        .wi {
            color: $light-blue;
        }

        .current_temperature {
            font-size: $font-large;
        }

        ol {
            padding-left: 0;
        }

        li {
            list-style: none;
            clear: both;

            p {
                @include span-columns(3);
                margin-top: 0;
            }

            .day {

            }

            .icon {

            }

            .low {

            }

            .high {
                @include omega();
            }
        }
    }
}
