.news {
    @include fill-parent();

    clear: both;
    padding-top: 2rem;

    .channels > .channel {
        margin-bottom: 2rem;

        .title {
            color: $light-blue;
            font-size: $font-small;
            margin-bottom: 0.5rem;
        }

        .articles {
            li {
                font-size: $font-smaller;
                margin-bottom: 0.25rem;

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
}
