.container {
    width: 100%;

    @include media($mobile) {
        padding-left: rem(10);
        padding-right: rem(10);
    }

    @include media($tablet) {
        padding-left: rem(20);
        padding-right: rem(20);
    }

    @include media($desktop) {
        width: $container-size;
    }
}

.container-fluid {
    &.full-width {
        padding: 0;
    }
}

.page {
    margin-top: rem(60);

    @include media($tablet) {
        margin-top: rem(80);
    }
}
