html, body {
    font-size: $base-font-size;
    font-family: $sans-serif;
    color: $base-font-color;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0;
}

* {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
