@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,600,$ultra-bold);

html, body {
    font-size: $base-font-size;
    font-family: $source-sans;
}

* {
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

a {
    cursor: pointer;
    color: $pool-blue;
    @include transition(all $base-animation-time);

    &:hover {
        color: $dark-blue;
    }
}

h1 {
    font: $ultra-bold rem(36) unquote("/") rem(39) $source-sans;
}

h2 {
    font: $ultra-bold rem(27) unquote("/") rem(33) $source-sans;
}

h3 {
    font: $bold rem(24) unquote("/") rem(27) $source-sans;
}

h4 {
    font: $bold rem(18) unquote("/") rem(27) $source-sans;
}

h5 {
    font: $bold rem(16) unquote("/") rem(27) $source-sans;
}

p, li {
    font: $normal rem(16) unquote("/") rem(27) $source-sans;
    color: $black;

    a {
        text-decoration: underline;

        &.read-more {
            text-decoration: none;
            font-style: italic;
        }
    }
}

.lead {
    font: $semi-bold rem(18) unquote("/") rem(30) $source-sans;
}

ul, ol {
    padding-left: rem(18);
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: decimal;
}

li {
    margin-bottom: rem(22);
}
