$base-font-size: 16px;

$base-animation-time: 0.2s;

// breakpoints
$container-size: em(1000);
$tablet-size: em(768);
$phone-size: em(320);
$mobile: new-breakpoint(min-width $phone-size 12);
$tablet: new-breakpoint(min-width $tablet-size 12);
$desktop: new-breakpoint(min-width $container-size 12);

// fonts
$source-sans: 'Source Sans Pro', sans-serif;
$bookman: 'Bookman Old Style', 'bookman', serif;
$ultra-bold: 900;
$bold: 700;
$semi-bold: 600;
$normal: 400;
$light: 300;

// colors
$light-blue: #4481a1;
$blue: #005b88;
$dark-blue: #004f86;
$pool-blue: #0094b9;

$white: #fff;
$off-white: #fbfaf9;
$lightest-gray: #efefef;
$light-gray: #ccc;
$gray: #9a9a9a;
$blue-gray: #919b9e;
$middle-gray: #636363;
$dark-gray: #363636;
$black: #1a1a1a;
